<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omelchenkoaleks.settingsdata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="._004_preference_activity.MyPreferenceActivity" />
        <activity android:name="._004_preference_activity.MainPreferenceActivity" />
        <activity android:name="._003_saved_rotation.SavedActivity" />
        <activity android:name="._002_parcelable.SecondActivity" />
        <activity android:name="._002_parcelable.ParcelableActivity" />
        <activity android:name="._001_parcel.ParcelActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>